# ==========================================
# LLM Configuration
# ==========================================
LLM_API_KEY="your-api-key"
LLM_API_URL="https://api.openai.com/v1/chat/completions"
LLM_MODEL="gpt-4o-mini"
LLM_TEMPERATURE="0.1"

# Enforces strict JSON output at the API level.
# CRITICAL for preventing parsing errors (EOF) and stopping models from generating conversational text.
# Highly recommended when using smaller models (e.g., 8B parameters).
# Accepted values: "groq", "openai", "ollama", "true", or leave empty to disable.
LLM_JSON_MODE="groq" # It's Optional

# ==========================================
# Architecture Configuration
# ==========================================
# Supported tracker types: "github" (more to come like "jira", "gitlab")
TRACKER_TYPE="github"

# Supported repo types: "github" (more to come like "gitlab", "forgejo")
REPO_TYPE="github"

# ==========================================
# GitHub Configuration (Used if TRACKER_TYPE or REPO_TYPE is "github")
# ==========================================
TRACKER_URL="https://api.github.com"
TRACKER_TOKEN="your-github-token"
TRACKER_PROJECT="github-user-name/your-repo-name"
# TRACKER_USERNAME="email@example.com" # Required for Jira

REPO_URL="https://api.github.com"
REPO_TOKEN="your-github-token"
REPO_PROJECT="github-user-name/your-repo-name"

# ==========================================
# Project & Environment
# ==========================================
WORKSPACE_DIR="your-project-dir"

# VERIFY_COMMAND="cargo check" # It's for linters and optional.
